html,
body,
div {
    margin: 0px;
    padding: 0px;
    font-family: "Fira Code", monospace;
}

html,
body {
    overflow: hidden;
}

div {
    display: flex;
    flex-direction: column;
}

i {
    text-emphasis-style: none;
    text-decoration: none;
    font-style: normal;
}

.thin-scroll::-webkit-scrollbar {
    width: 2px;
    height: 3px;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    transition: all ease 500ms;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0);
}

:hover::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, .2);
}

::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0);
}